/* footer -------------------------- */
footer {
    background: #324a57;
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    padding: 70px 0;
    text-align: center;
}

.bigfont {
    font-size: 44px;    
}

.leftpad {
    padding: 0 6px;
}